.home-container {
  display: flex;
  justify-content: center;
  max-width: 100%;
  min-width: 1368px;
  padding-bottom: 16px;
  position: relative;
  height: 100vh;
  .class1 {
    display: flex;
    .left-side {
      width: 200px;
      background-color: black;
    }
    .mid-side {
      width: 500px;
      background-color: brown;
    }
    .right-side {
      width: 200px;
      background-color: lightblue;
    }
  }
}
