@import "../../styles/styles.scss";

.forgot-password-container {
  display: flex;
  justify-content: center;
  .forgot-password-content {
    width: 440px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    .group-btn {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .input {
      padding: 8px 12px;
      border-radius: 8px;
    }
    .ant-form-item-required {
      margin-top: 15px;
      font-weight: bold;
      &::before {
        position: absolute;
        right: -14px;
      }
    }
    .ant-form-item {
      margin: 5px 0px;
    }
    .ant-btn {
      margin-top: 15px;
      width: 48%;
      padding: 10px 14px;
      height: auto;
      border-radius: 8px;
    }
    .ant-form-item-explain-error {
      margin-top: 3px;
      font-size: 12px;
    }
    .ant-checkbox-wrapper {
      color: #656565;
    }
  }
}

@media only screen and (max-width: 767px) {
  .forgot-password-container {
    .forgot-password-content {
      width: 94%;
    }
  }
}
